.profile-container {
   
    height: 125px;
    display: flex;
    flex-direction: column;
  }
  
  .profile-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.161));
  }
  
  .profile-name {
    color: #2b2e4a;
    font-size: 20px;
    font-family: "Poppins-SemiBold", "Poppins";
    font-weight: 600;
  }
  
  .profile-info {
    color: #707070;
    font-size: 12px;
    font-family: "Poppins-Regular", "Poppins";
  }
  