.card-one-bis {
    margin-top: 20%;
    width: 50%;
    height: 20%;
    border-radius: 43px;
    background-color: #f0ffe2;
    overflow: hidden; /* Pour que l'image ne dépasse pas les limites du conteneur */
  }
  
  .card-image {
    width: 80%; /* Réduire la taille de l'image à moitié */
    height: auto; /* Ajuster la hauteur automatiquement en fonction de la largeur */
    display: block; /* Assurez-vous que l'image est affichée en tant que bloc */
    margin: 0 auto; /* Centrer l'image horizontalement */
    object-fit: cover; /* Pour couvrir tout l'espace du conteneur sans déformation */
    margin-top: 10%;
    border-radius: 43px;
}
  
  .card-content {
    padding: 20px;
  }
  
  .card-title {
    margin-left: 8%;
    font-size: 16px;
    font-family: 'Poppins-SemiBold', 'Poppins';
    font-weight: 600;
    color: #2b2e4a;
  }
  
  .card-text {
    margin-left: 8%;
    font-size: 10px;
    font-family: 'Poppins-Regular', 'Poppins';
    color: #707070;
  }
  